extends layout

block content
  div.base-background-colour.no-margin
    div.container
      div.row
        h2.dark-grey-colour.no-margin.col-lg-2 User portal
        a(href="\portal\\edit").btn.btn-default.col-lg-2.col-lg-offset-1 Edit your information
  div.light-grey-background-colour.full-screen
    h4.no-margin.padding-20 Hello #{firstName} #{lastName}


