extends layout

block content
  div.full-screen.light-grey-background-colour

    div.login-module.base-background-colour

      h1.centre-text= title

        form(name="login-details", method="post").form-fields

          div.input.padding-30
            label(for=username).white-colour Username
            input(type="text", name="username").width-80

          div.input.padding-30
            label(for=password).white-colour Password
            input(type="text", name="password").width-80

          div.actions
            input(type="submit", value="Submit")
