extends layout

block content
  div.base-background-colour.no-margin.height-20.padding-100
    h1.centre-text.white-colour.no-margin Terms and Conditions
  div
    div.container
      div.no-margin.row
        div.col-lg-12
          h4.dark-grey-colour.padding-20.centre-text There are a few things you should know before using RTMC
          p(style='white-space:pre;margin-top:20px;word-wrap: break-word;')
            | &#8226; All samples on the platform are bought by the owner from a site that claims they're royalty free.
            | &#8226; Although the passwords are encrypted, it is advised to use a non-comprimising password for this site as it does not have an SSL certificate and uses HTTP
            | &#8226; Artifacts created by product are of ownership of you and you take full responsibility for any consequences that may come of distribution of them.
            | &#8226; Be advised, although there are secuirty measures in place for the server, it cannot be guaranteed that it is 100% secure
            | &#8226; Invite people that you trust to collaborate on the musical arrangements with you as their actions are perminant
      div.padding-40.row
        div.col-lg-12(style="display:flex;justify-content:center;align-items:center;")
            a(href="/").btn.btn-default.btn-lg Home
