doctype html
html.full-screen
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/tone/0.9.0/Tone.min.js')
    script(src='/javascripts/app/main.js')
  body.full-screen
    block content
