doctype html
html.full-screen
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/libs/font-awesome/css/font-awesome.min.css')
    script(rel='text/javascript', src='/javascripts/nexusUI.js')
    script(src='/socket.io/socket.io.js')
    script(rel='text/javascript', src='/javascripts/helpers/watch.js')
    script(rel='text/javascript', src='/javascripts/WebMIDIAPI.min.js')
  body.full-screen
    block content

