doctype html
html.full-screen
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    script(rel='text/javascript', src='/javascripts/nexusUI.js')
    script(src='/socket.io/socket.io.js')
    script(src='https://use.fontawesome.com/0944abfe22.js')
  body.full-screen
    block content

