extends layout

block content
  div.width-100.control-bar.dark-grey-background-colour
    button#start Start
    button#stop Stop
    p.white-colour BPM:
    input#bpm(type='number' value='120' min='60' max='200' style='display:inline; width:50px;')
  div#instrumentTracks.container-fluid
  div#gutter.container-fluid
    div.row
      div.col-md-6
        button#addInstrument Add Instrument
      div.col-md-6
        select#instruments
          option(value="step-sequencer") Step Sequencer
