extends layout

block content
  div.width-100.control-bar.dark-grey-background-colour
    button#start Start
    button#stop Stop
    p.white-colour(style='display:inline;') BPM:
    input#bpm(type='range' value='120' min='60' max='200' style='display:inline; width:200px;')
  div.container-fluid
    div.row.instrument-container
      div.col-md-2.light-grey-background-colour.sample-container
      div.col-md-9.step-sequencer-container
        canvas(nx="matrix")
