extends layout

block content
  div#loadOverlay.overlay
    i.fa.fa-spinner.fa-pulse.fa-4x.fa-fw.white-colour
  div.width-100.control-bar.dark-grey-background-colour
    i#start-stop.fa.fa-play-circle.fa-4x.white-colour(aria-hidden="true")
    input#userId(type="hidden" name="target" value="#{userId}")
    p.bpm-label.white-colour BPM:
    input#bpm.bpm-input(type='number' value='120' min='60' max='200')
    p.white-colour.collaborator-count Current number of collaborators:
    p#userCounter.white-colour
    button.btn.btn-default#exportToWav Export to .wav file 
      i.fa.fa-download(aria-hidden="true")
    button.btn.btn-default#shareUrl(data-clipboard-text="#{path}") Share the URL 
      i.fa.fa-share-square-o(aria-hidden="true")
    if userRegistered
        a(href="/portal").btn.btn-default.btn-workstation-back Back to portal
    else
        a(href="/signup").btn.btn-default.btn-workstation-back Register an account
  div#instrumentTracks.container-fluid
  div#gutter.container-fluid
    div.row
      div.col-md-offset-5
        div.add-instrument-container
          select#instruments.instrument-selector.dark-grey-background-colour.white-colour
            option(value="step-sequencer") Step Sequencer
            option(value="synth") MIDI Synth
          i#addInstrument(class='fa fa-plus-circle fa-3x secondary-colour', aria-hidden='true')

    script(src='/bundle.js')
