extends layout

block content
  input(type='hidden', value=local_data)#myLocalDataObj
  div.width-100.control-bar.dark-grey-background-colour
    button#start Start
    button#stop Stop
    p.white-colour BPM:
    input#bpm.bpm-input(type='number' value='120' min='60' max='200')
    a(href="/portal").btn.btn-default.btn-workstation-back Back to portal
  div#instrumentTracks.container-fluid
  div#gutter.container-fluid
    div.row
      div.col-md-offset-5
        select#instruments.instrument-selector
          option(value="step-sequencer") Step Sequencer
        i#addInstrument(class='fa fa-plus-circle fa-3x secondary-colour', aria-hidden='true')

    script(src='/bundle.js')
