extends ../layout

block content
  div.width-100.control-bar.dark-grey-background-colour
  div.container-fluid
    div.row.instrument-container
      div.col-md-2.light-grey-background-colour.sample-container
      div.col-md-9.light-grey-background-colour.step-sequencer-container
    div.row.instrument-container
      div.col-md-2.light-grey-background-colour.sample-container
      div.col-md-9.light-grey-background-colour.step-sequencer-container
    div.row.instrument-container
      div.col-md-2.light-grey-background-colour.sample-container
      div.col-md-9.light-grey-background-colour.step-sequencer-container
    div.row.instrument-container
      div.col-md-2.light-grey-background-colour.sample-container
      div.col-md-9.light-grey-background-colour.step-sequencer-container
    div.row.instrument-container
      div.col-md-2.light-grey-background-colour.sample-container
      div.col-md-9.light-grey-background-colour.step-sequencer-container
